<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Author" asp-action="Create">Crear nuevo autorr</a>
<br />
<style>

    body {
        background-color: ghostwhite;
    }
</style>
<h2>Notiene autores disponibles.</h2>