
<br />
<style>

    body {
        background-color: ghostwhite;
    }
</style>
<a class="btn btn-primary mt-5" style="margin: 10px" asp-controller="Customer" asp-action="Create">Crear nuevo usuario</a>
<h2>No tiene clientes disponibles</h2>