@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar usuario</title>
    <link rel="stylesheet" href="~/css/registrar.css">
</head>
<body>
    <div class="contenedorPrincipalRegistro">
        <div class="tituloRegistro">
            <h1>Registrar usuario</h1>
        </div>
        <div class="contenedorRegistro">
            <form action="">
                <div class="inputContainer">
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Nombre del empleado">
                </div>
                <div class="inputContainer">
                    <label for="">Usuario</label>
                    <input type="text" placeholder="Nombre de usuario ">
                </div>
                <div class="inputContainer">
                    <label for="">Contraseña</label>
                    <input type="password" placeholder="Contraseña">
                </div>
                <div class="inputContainer">
                    <label for="">Correo electronico </label>
                    <input type="email" placeholder="Correo electronico">
                </div>
                <div class="inputContainer">
                    <label for="">Cedula</label>
                    <input type="text" placeholder="Cedula">
                </div>
                <div class="buttonContainer">
                    <button>Registrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>